﻿@{
    ViewData["Title"] = "Contact";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">@ViewBag.Message</h1>
    </div>
</section>

<address>
    <strong>Разработка:</strong> <a href="mailto:sda.falcon@gmail.com">sda.falcon@gmail.com</a><br />
</address>