﻿@using Kendo.Mvc.UI;
@using Orders.DTO
@using Utils.Kendo.Extensions


@{
    ViewData["Title"] = "Заявки";
}
<h2>@ViewData["Title"]</h2>

<div class="buttons" style="padding-bottom: 10px; padding-top: 10px">
    @(Html.Kendo()
        .Button()
        .Name("btAdd")
        .Content("Новая заявка")
        .Events(e => e.Click("btAdd_onClick"))
    )
</div>
@(Html.Kendo()
        .Grid<OrderDto>()
        .BaseGrid()
        .Name("grOrders")
        .DataSource(ds => ds.Ajax()
                            .Read(read => read.Action("GetOrders", "Order"))
        )
        .Columns(columns =>
        {
            columns.Bound(i => i.Id).Width(100);
            columns.Bound(i => i.Name);
            columns.Bound(i => i.OrderStatusToString).Width(300);
            columns.Bound(i => i.CreatedOn).Width(200);
        })
        .FullWidth()
)

@(Html.Kendo()
    .Window()
    .Name("wndOrder")
    .Visible(false)
    .Title("Новая заявка")
    .Resizable(r => r.Enabled(false))
    .Width(800)
    .Actions(a => a.Close())
    .Draggable()
    .Content(@<text>
        <div class="container-fluid orders-div">
            <partial name="_NewOrder" />
        </div>
    </text>)
)

<script type="text/javascript">
    var wndOrder,
        grOrders;

    $(document).ready(() => {
        wndOrder = getKendoWindow("wndOrder");
        grOrders = getKendoGrid("grOrders");
    });

    function btAdd_onClick() {
        wndOrder_open();
        window.initControls();
    }

    function wndOrder_open() {
        wndOrder.center().open();
        setControlsSettings();
    }
</script>