﻿@using Orders.DTO
@using Kendo.Mvc.UI
@using Orders.Core.Enums
@using Orders.Core.Models
@using Utils.Kendo.Extensions
@using Utils.Kendo.Extentions
@model Orders.Core.Models.Order


<div class="col-sm-12 orders-div">
    @(Html.Kendo()
        .TabStrip()
        .Name("tabStrip")
        .Items(items =>
        {
        items.Add()
            .Text("Обязательные поля")
            .Selected(true)
            .Content(
                                @<text>
                                    <label class="col-sm-10 orders-div">Наименование</label>
                                    <div class="col-sm-10 orders-div">
                                        @(Html.Kendo()
                                            .TextBox()
                                            .Name("wndOrder_tbName")
                                            .FullWidth()
                                        )
                                    </div>

                                    <label class="col-sm-10 orders-div">Статус</label>
                                    <div class="col-sm-10 orders-div">
                                        @(Html.Kendo()
                                            .ComboBox()
                                            .Name("wndOrder_cbStatus")
                                            .Placeholder("Выбрать статус")
                                            .FillItemsFromEnum<OrderStatus>()
                                            //.Value(((int) OrderStatus.Open).ToString())
                                            .FullWidth()
                                        )
                                    </div>

                                </text>);
})
    )
</div>

@*<label class="col-sm-12 text-center orders-div" style="font-weight: bold">Сохранить и ...</label>*@
<div class="col-sm-12 text-center orders-div">
    @*@(Html.Kendo()
        .Button()
        .Name("wndOrder_btSaveAndCreateMore")
        .Content("Создать еще")
        .Events(e => e.Click("wndOrder_btSaveAndCreateMore_onClick"))
    )*@
    @(Html.Kendo()
        .Button()
        .Name("wndOrder_btSaveAndQuit")
        .Content("Сохранить и Выйти")
        .Events(e => e.Click("wndOrder_btSaveAndQuit_onClick"))
    )
</div>

<script>
    var wndOrder_tbName,
        wndOrder_cbStatus;

    function initControls() {
        wndOrder_tbName = getKendoTextBox("wndOrder_tbName");
        wndOrder_cbStatus = getKendoComboBox("wndOrder_cbStatus");
    }

    function wndOrder_btSaveAndCreateMore_onClick() {
        const wndOrder = $('#wndOrder').getKendoWindow();
        if (wndOrder)
            wndOrder.close();
    }

    function checkFields(data) {
        if (data.@nameof(Order.Name) == '')
            swal('Внимание!', 'Введите название', 'warning');
        else if (data.@nameof(Order.OrderStatus) == '')
            swal('Внимание!', 'Выберете статус', 'warning');
        else
            return true;

        return false;
    }

    function wndOrder_btSaveAndQuit_onClick() {
        const wndOrder = $('#wndOrder').getKendoWindow();
        var fields = collectOrderFields();
        if (!checkFields(fields))
            return;
        $.ajax({
            url: '@Url.Action("Put", "Order")',
            data: fields,
            method: 'POST',
            success: () => rebindDataSource(window.grOrders)
        });
        if (wndOrder)
            wndOrder.close();
    }

    function collectOrderFields() {
        initControls();
        return {
            '@nameof(Order.Name)': wndOrder_.tbName.val(),
            '@nameof(Order.OrderStatus)': wndOrder_cbStatus.value()
        }
    }

</script>
